Source: irc-chatter
Section: user/other
Priority: extra
Maintainer: Timur Kristof (Venemo) <venemo@fedoraproject.org>
Build-Depends: debhelper (>= 5), 
 libqt4-dev (>= 4.7), qt-components-dev, libircclient-qt-dev (>= 0.5), 
 applauncherd-dev, pkg-config
Standards-Version: 3.7.3
Homepage: http://wiki.meego.com/User:Venemo/IRC_Chatter

Package: irc-chatter
Architecture: any
Depends: ${shlibs:Depends}, applauncherd
XB-Maemo-Display-Name: IRC Chatter
Description: IRC client with a very nice GUI.
 IRC Chatter is an easy-to-use and user-friendly IRC
 client, the first-ever IRC client dedicated for MeeGo.
 This application is licensed under the terms of the
 GNU General Public License, version 2 (or later).
XB-Maemo-Upgrade-Description: Wonderful new features!
 Install this upgrade to get your hands on the new features of IRC Chatter!
XSBC-Bugtracker: http://wiki.meego.com/User:Venemo/IRC_Chatter
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A
 /wD/oL2nkwAAAAlwSFlzAAAN1wAADdcBQiibeAAAAAd0SU1FB9sIDhQtBFjq7+QAAA/TSURBVHja
 3ZtrbBzXdcd/587MLrm7kkjJtEwrph42TcZObdlupCZ+VE1LO62dpkUcy0WBokgCFWkK+EONomjR
 AoXR1ij6iFu0BtQW7iOV40iN69ZK7CiGVVt+KX4olh+SFZl6mpJIiSK5JHdn5t7TDzO7XFLc5VKy
 qaQDXMyQs3fmnv/9n+e9I3wER7znNg/xAhCjEAgIiA9I9UciNX8qqNY+QkFjBRWIQB1qI3/tc/bD
 Hqucl4A/vBX/+udr/t5gELNakU5BVgG9uHI3Gl2Cxj2KZlDXMUO+5FwZxgx8EDMoSIj4+5FgCJM9
 AOxT9JCgA6jr96/f6eqN6SMFYOqlP7sO8e4Gfgo70YUd61Q30Y6dBA1BLWgEKKoRqGr1nTpjMsWb
 QkdERIIUmCC5JxnwWhGTG8ZbNICXOwLsRe02//r/3f2RMyB+42b8G14AINpzy0YR74/QcKWGp3JE
 pwx2IhEUp+i5z5VGb9dzb+nsv1fBJBrl5SC41Enm0gkkc1jVPhCs3fXYzLF+aABEr3/aCNKn4h7C
 lXoof4BGJ7WizRfjSEFSCZYL2cvBtOwXNfcpuiO48UV3wQBEr/wMwfqXiV+7ZSXoH6gd3UR4Eg1P
 XVTB6wKRuVTILEe8xZtB/sy/adfhigzzBiB6aT3Bp14heuVTG8BuJhzopjwALr5Ay/ERI2F8yHZC
 pvMAeJuC9S/trMjSNADRC+sIbt5N+NK6nwO+x/gBn3i48oofV/FrYRD8dsh3x8DtmU/tfrYiU/MM
 2LVug6I7tLjPEzv24y707Eh4i1QKvVaQvuCW3TubZkD43LqVonaHThzsJjrLT/QRtCG5Kw+oeH2Z
 23YfbghA9OSN6KrAyKB7WMsfbGLyOP8vjtYVSPbyzdphviqHIhfc9Xp9BkTbb7pD/eJTFA+m0Sjy
 Ey6+Ir5QuBKJC58N7nzt6dqb/sxfOz9+iIkhNI7ndJOqF1+6JnyxQIxMDKG5loeA3tqbBqD86HUA
 lLev3UhU6tHJ0yoWKo2aMzYJ410MNgYbQRwl5wVv6fs1nhpb7Xhrm06eVqJST3n72o21Mk/DL3xy
 7Vs6cfhaLQ+fM/WazrgqxAqxTZpzaSCywMoigDFgBAIPfC+5Fpl9GApIth3JrXw7c9eeT5xjA8pP
 XLdONH7GnX0nLzL1/4pcqmAdRA5KERTHYbIE5bgGhAU8PAHfh9YMFPLJOeODbxIQZpsPVdS0XTOu
 4v989vNv7p5mA8Ryt5aHc7jp/SQFwSlYC5NlGA1badvwEKtv+ArGXFwbWTyxl+Pf/mXcxCGkJQkE
 jalLRtHJ4ZxkO+4GdlcZMPnNa4wJvO068qPPYidn5Y9VKIVwtpxh0YZ/4JKbvoyN4zTDvXiH8QPK
 Zw7ywWN9LI77yWUhMA3U0WtFllz1lIvsna33vuN8AGPMasJSF1F5VsuumtA8jKDk8nT23kMYhqDu
 onsBF1r8JWswS6+nfLSfrAdeag9mmxpxZQhLXcbLrgYO+kltQjslnOzEKqKzZFoKzoKLIIoEFQ91
 joXX/HquUIhtgFQ8QqXINLsSQDjZqZlMZxUAcbpKo1K7WtVZ+yngEhsQx4qLI8TPoOfJAEmddz31
 mev+ubSG2CqeTUiprr4KKKpEpXbxF68CdvnlR7o9rPYShmDrdHNps0kly6pLy13zZ4ACw8NjIEL7
 4nxV2MphrePMSJFsNmBRvrU5z6oOdZrMfpwKLw08aBhCRnvLj3R7Po4AF3YTx0kQMYu/VZ0KNFCS
 lzl3XgCMF0d54d9+H0/L/MKmvyXI5qfN/Knj/bz47/fTeeWNrPvV+/GCbBPyuyT4qZmoum4AII4h
 CrvBBEatGo3jS9S6Kn3OaXbGdQVxnV8DGDqyF97cwjIZQpTp98Uw8MP/IfP+MyyS0aQI2MyznUvP
 M8ZaVx5HIrMaX5VArO0htqhl1giwYgOScBCsU8RoUzagluLG+Azt/S5tGej8+G3gZ3A1LLIOxt7Z
 ztI8XNa9HrwAVwNe/ZxEp9R0DgYkAZIFa3vUCwJfrIpazWDTh8xhA7CgzuKcmVMFRGC0OEkYJbrl
 TAY5uJ22JQZpu4rTI+PVZ4gYxoujLBp8hdauq4kWdzN0ZoSWrE++taUhCOos6nRKTc2caRxqNSOi
 4uPUJ3YdGrtzXOBML4BNzgn957YBYgLe2vEvTHzwNi0ZnxbfcclEP96idobe+C+Kr32P2CU1dOMZ
 cvFp2gLQqMjRZx9mtORYsno9N/3il4ijUgMGuCRU1eZsgDqHWNeBqO9jVbAOrNZPZ2rp5RSHQ5zO
 GQeIGIpvPIqceJd8AZbkIRtAPDaMP/g4mQiMgkca07cmiU15+APMwBbiIoyMHMHd9Vu4cLIBAzSZ
 C9c0A5TYCaLiY11FOGkoTwqAKqhVVOa2Ac5OcMcff5/RI2/gZfMMbvkN4uJxcuu+xPIbfo04DlHA
 N0IUljnz6K8T24hln/sTLltxE1EUsmTVT1MqNi7LGc8lsXrqpRoxIKWBJGA5/CTLSdxIY2mmmlOL
 qGnKDVrTwrJP9HF68CSlsREMeS67+bfJXX4t6mwqgM+J916lVAaVFlbf+jWM5wPK5HhxTqBV3XRX
 LU2k5taBUXwsEDvEan2doebhDpxTTOp6Gll/ESEMS0QjlpOvPkFcKuNlcsjijzE6PAiqiCTGcfCl
 /8COF8n19hHGjnB0qPlI0CVuuRkbkK6wQezAgK9W0Qp9GriOaoiZGkE3hw0ohyFnz44mbsxkKP3o
 eTJRmey63+TIwBAaTel0HMdEx/aQseBd8yscOnSYwDja29qaSred0zQ4S+MASVrDcNQmKW5qA5LO
 Un/ZqTr7WHBYjJq61DSez8n+d3n/5f8m0JisD5cef5EWAxMjZzjxnb/EOcUpeAaydpKO0/vJenD6
 4OsM7f0BsZdn/Re+hp9pmTslVjvNS83FAE3ynxobUNHvZmxAagSd1HeDagQ9+S6y6x8p+LAsB7lc
 wiD5wVbaIiinNqfVh0UtkGlJSmzBrn+mZRJGPIO768uon22aAdOEl2bkUfwkAJKkNdI5N5ULOHVI
 gzjARWWu+OQv0bWmh0AcZ9/6PsWn/57cus/R85lNRHFc7WpEGXz1CSae+Vc6Nv4hV6z5JGHssEGe
 qDWPaybarMQBrjkGJIZHKiqgUy6kodWsMCCNvRvaACX2svgr1lKyEYPPP44dhyXX3Mn48huS4kLl
 sWGJU4e/jivC8p47mFi2CiGxMRqFzSVcFS8wHwZYBdHECKZhsKo26FbrBp3DODunlbZxTDQxxtDe
 5/Ei6Lr8WkrjY9M8xcjJo5x9+znauq8lzrZhJ8bnX19I7dhMG6CN3IBVUVF8nGpq4esGQspUluUU
 nGoSOM41OyKUxoYZeqefrltvIc4umQaaiGHk0JucPgaX9t1KpHJeKbaoJpXpSku9gM4RCIlT9bEa
 4xgUJx3qdPZscIYNSNLh5uoBhfYOPvPgN2jp7KZYLaVNZXFXXLueVX+9BW95NyUx0+43XxicYQMa
 lMQUECPgGMRp7KtVFUeojSDTGhWQJJlQmTsXAHBehuyVNzMRlXFRNOOmormlmKUrKJdKOBuf5+pf
 UsuojnMu/VdBHKHGqr7gIhz7cbKioSF0ST1RXFISE7VNR2pjxZH6diKyhFF4YUVRl5TnxE5nQMN1
 Jcd+MS7yiXE4GcJJUlKqw4CK8B5KNFnCyxUu+prAFIgxxDEmHaMwR0kscYNDGuN8FRehckCdMBcD
 PAXPxZw53k/n1dclLvGigiCIESZGThOdPY0H1bqmzlWpEQ5IwUUm/3dnLZZ9YKryzGwVBgQCOTtJ
 edc36D96jFK5PO+6YOOa4fx+G8cRQ6fPcPTlpykM7iMr6XK3Ut19O0tTMBCxL/fgWVtZGDkkaoZx
 tNfbtGgAX6EgSteBp+gPI9684tO4mqru+R5KEltccVUvnSs+lixuzmCWHwTseflFJseLVPIjtTGF
 s+9z1d5HaWeSwICpWa+pszlTRM2wWj1UXRyV2A2gZgBL++xFxHQQCi0CSz3Ivf8Mpf3PUNKpatR5
 LW2l/UsRnOq9DXvn77Bi5SqMJBXh6iJJppX8d/6CjsEjLM4k639ZSXKJbBZafAhIbYDMsVqvZkBi
 NzC1Omy8fmKOoOYaZvhhmXEdkKy7ZTKQC1Lh9YLUGKsQOmjrf45jjxc58vnfo2vVGkxNRVkVFmUC
 luVhSQYykiyFe5I2TWZf5nICxoCaI3hePymzyT8y7BDdiwmc1pS/a3VJ0mYUfEnRF8gbyHsX0AwU
 DCz2YGkLdJ14He/bD3Ks/2Cqs1PoBgItBnKS9G0VyKaT4jE1RtVzZUgWdAATOET35h8ZdlUAkqqE
 bhPjV3Y8z8qCSo5hNKGZZ5LmX2ALDGQN5H1oz0DXiT3ET36dY/0Hq29PaocJ+J4kAnsytUuktqIt
 1C1sqBh/gli3VQlRuchvKe5WI4fx/DlLMJUV1A+lpWAaSb2MB+2t0H3oFeIn/4bDB99LEjcEL31v
 dSuM1JTspIkdOp4vauRwfktx9zQAJn63kILkHhDPZzYW1LMLF+wB5FwQWj1YUoCrju4m+8Sfc+S9
 d4lVyaQMmJmnSDNuBlQ8H8U9UCvzOX3H7m3dJ3HYg7ULtulJUyZUkkFViBQmLYxGcLLj44x98U9Z
 s+1+2s68T75mL5A0+wLPQ/3M/kXfnDx3m9y02W3lPjV+hVu6MPHc1FRUqB2YhAntGVgz+C5t3/0r
 gniCrDfPffrp5xtqfKSV+xqyefwrrcTvYbxOHsZGm7AXYWu8TlV0XVqriV0a4nqp0a3ofzNb8xTw
 fPCCzXaAr/pX4/L/NNlYnYsbW1aiugMbdePcgoJQlalGJVxNZCe1TGnmYcaAFxxApK/wWOlw0/as
 uDG7IQEh9nBOFpoJtXaBmkizCoBOeaMGwiuebxPhyztnjYvqCE/a4XY83ybR08LZhNnsgklb7T2p
 p/PVmfctcHvhsfLO4sbZy+uzAlB4rJyA8K3wWVT78LwD6e5DWeiNYTIfF6xpvc8Y8LwDqPYVvhU+
 m05o8wBUQbgnQ2FrtBOkD+NtxlQ34CnNVcQWRlcq7DRCMkZvM0hfYWu0s3hPpq7w84ppinf7BpE+
 VB8CepISsZuywxfBW1SvjBHEAOxH5D5UdxS2xU1VV03zXBRX2Bo9XdgW9yLcizFv4/vjeGbG7uIa
 djRq9WeyUR+dNnWecekY3sbn3sK2uLewNXoaEXe+Kjavo3i3tw6R5NNZ1S7QTpT2KbOt9csLWnck
 s3h3qbV8wyADiKSfzuq2wjb70X86O03wL/oUtsa1QBhEVgOdwCqUXtBu0EtQeoAM0DHP1wwCIcJ+
 kCGQAwj7gEPAAKr9hW3W1RvTgjCgLkBfMF6SpotBSL+Cxp/H+5Rkz6ei6efzEBX+033on8//H0Sy
 taK5IO8iAAAAAElFTkSuQmCC

