
[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=IRC
Exec=/usr/bin/irc-chatter
Icon=/usr/share/icons/hicolor/80x80/apps/irc-chatter-harmattan-icon.png
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable

